.editor {
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 1em;
}
.textarea {
  all: unset;
  white-space: pre-line;
  display: block;
  padding: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  color: $bg-color;
  background-color: $fg-color;
  height: auto;
}
.spinner {
  @include spin;
}
