@import "@/styles/monthly.scss";

.main {
  width: 100%;

  #diary {
    box-sizing: border-box;
    width: 100%;
    background-color: $fg-color;
    color: black;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
  }
}

// .diary.date-emo-img {
//   flex-direction: column;
//   width: 30%;
// }

// .diary.date-emo {
//   width: 100%;
//   justify-content: space-between;
// }

// .diary.date {
//   font-weight: 600;
// }

// .diary.emo {
//   width: 50%;
// }
