@font-face {
  font-family: "omyu_pretty";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "establishRoomNo703OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.main {
  margin: 0;
  overflow: hidden;
  background: rgb(160, 187, 237);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  touch-action: none;
  position: fixed;
  @extend .fade-in-box;
}

.cloudimg {
  &1 {
    width: max(40vw, 40vh);
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }

  &2 {
    width: max(50vw, 50vh);
    margin-left: 50%;
    position: absolute;
    z-index: 2;
    top: 0vh;
    right: 0vw;
  }

  &3 {
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 2;
    top: 10vh;
    right: 10vw;
  }

  &4 {
    width: min(60vh, 60vw);
    bottom: calc(25vh - 5vw);
    left: 10vw;
    position: absolute;
  }

  &44 {
    width: min(70vh, 70vw);
    bottom: calc(35vh - 10vw);
    right: 5vw;
    position: absolute;
    z-index: 2;
  }

  &5 {
    position: absolute;
    bottom: #{"min(0px, calc( 40vh - 40vw ))"};
    width: 100vw;
  }

  &6 {
    width: max(50vh, 30vw);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    @extend .fade-in-box;
  }

  &7 {
    width: 450px;
    margin-left: 20%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    @extend .fade-in-box;
  }
}
.text1 {
  z-index: 2;
  font-size: 10vw;
  color: rgb(54, 29, 77);
  font-family: "omyu_pretty";
  text-align: center;
  @extend .fade-in-box;
}

.text2 {
  z-index: 2;
  font-size: 30px;
  color: rgb(55, 30, 78);
  font-family: "omyu_pretty";
  text-align: center;
  @extend .fade-in-box;
}

.form {
  display: flex;
  justify-content: center;
  width: 740px;
  height: 90px;
  @extend .fade-in-box;
}

.button {
  @extend .form;
  width: auto;
  position: absolute;
  z-index: 2;
  font-size: 5vw;
  bottom: 20vh;
  color: antiquewhite;
  font-family: "establishRoomNo703OTF";
}

.loginButton {
  @extend .button;
  left: 15vw;
}

.resiterButton {
  @extend .button;
  right: 10vw;
}

.fade-in-box {
  animation: fadein 3s;
  -moz-animation: fadein 3s; //* Firefox */;
  -webkit-animation: fadein 3s; //* Safari and Chrome */;
  -o-animation: fadein 3s; //* Opera */;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 2;
  }
}
