$bg-color: rgb(160, 187, 237);
$fg-color: rgb(255, 255, 255);
$pri-color: rgb(0, 89, 255);
$err-color: rgb(255, 0, 89);

@media (prefers-color-scheme: dark) {
  $bg-color: rgb(54, 85, 128);
  $fg-color: rgb(0, 0, 0);
}