$bg-color: rgb(160, 187, 237);
$fg-color: rgb(255, 255, 255);
$pri-color: rgb(0, 89, 255);
$sec-color: rgb(0, 255, 128);
$wrn-color: rgb(255, 255, 0);
$err-color: rgb(255, 0, 89);

@media (prefers-color-scheme: dark) {
  $bg-color: rgb(54, 85, 128);
  $fg-color: rgb(0, 0, 0);
}

@mixin spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
